
* {
    box-sizing:border-box;
    margin:0;
    padding:0
}

body{
  margin: 0;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family:Inter,ui-sans-serif,system-ui,Segoe UI,Roboto,'Helvetica Neue',Arial; 
  color:#fff
}

a{
    color:inherit;
    text-decoration:none
}

/* ================================================= background ========================================= */
.background {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    overflow: hidden;
}
#bgVideo {
    width: 100%;
}

.background video {
    width:100%; 
    height:100%; 
    object-fit:cover; 
    filter: brightness(0.7); 
    pointer-events:none;
}

/* ================================================= container ========================================= */
.container{
    width:1100px;
    margin:0 auto;
    padding:28px
}

header{
    position:sticky;
    top:14px;
    z-index:40
}

/* ================================================= conten ========================================= */
.conten {
  width: 1200px;
  height: 700px;
  margin-top: 50px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.3);
}
.conten h1,.conten p {
  margin-left: 35%;
  padding-top: 20px;
}
.list-box {
  display: flex;
  justify-content: space-around;
  padding-top: 70px;
}
.box {
  width: 150px;
  text-align: center;
  line-height: 200px;
  border-radius: 15px;
  transition: all 0.3s ease;
  display: inline-block;
}
.box:hover {
  filter: brightness(120%);
  transform: translateY(-8px) scale(1.06);
}

.HTML {
  background: rgba(0, 0, 0, 0.3);
  color: #FF4F88;
  font-weight: 600;
  box-shadow: 0 0 12px #FF4F88;
}

.CSS {
  background: rgba(0, 0, 0, 0.3);
  color: #19F7E5;
  font-weight: 600;
  box-shadow: 0 0 12px #19F7E5;
}
.PHP {
  background: rgba(0, 0, 0, 0.3);
  color: white;
  font-weight: 600;
  box-shadow: 0 0 12px #1F2A39;
}


/* ================================================= conten ========================================= */
@media (max-width:900px){
    .grid{grid-template-columns:repeat(2,1fr)}
    .hero{flex-direction:column}
    .hero-left{order:2}
    .hero-right{order:1}
    .hero-left img{width:200px;height:200px}
}

@media (max-width:600px){
    nav ul{display:none}
    .hamburger{display:block}
    .grid{grid-template-columns:1fr}
    .contact-grid{grid-template-columns:1fr}
    .hero-left{flex-basis:160px}
    .hero-left img{width:160px;height:160px}
}

/* small utility */
.muted{
    color:var(--muted);
    font-size:.95rem
}