* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Inter,system-ui,Arial,sans-serif
}

body {
  padding-top: 10px;
  min-height: 100vh;
  color: #f7f7f7;
  background-image: url(./image/image\ \(8\).jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 20% 0;
  height: 100vh;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  overflow: hidden;
}

.background video {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  filter: brightness(0.7);
  pointer-events: none;
}


/* ================================================= nav-bar ========================================= */
.nav-bar {
  min-height: 70px;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  backdrop-filter: blur(5px);
  width: 95%;
  margin: 0 auto;
}

.nav-bar a {
  font-size: 20px;
  font-weight: bold;
  transition: 0.3s ease;
  display: inline-block;
  text-decoration: none;
  color: #fff;
}
.nav-bar a:hover {
  background: linear-gradient(45deg, #c9a0ff, #dab6ff);
  -webkit-background-clip: text; 
  color: transparent;
  transform: translateY(-8px) scale(1.06);
  text-shadow: 
    0 4px 10px rgba(0,0,0,0.3),
    0 0 20px rgba(0,0,0,0.15);
}

.nav-bar h2 {
  gap: 10px;
  font-size: 30px;
}

.nav-bar-left,
.nav-bar-right {
  display: flex;
  align-items: center;
}

.nav-bar-left ul,
.nav-bar-right ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-bar-left ul li {
  margin-left: 15px;
}

.nav-bar-right ul li {
  padding-left: 20px;
}

.search-form {
  padding: 5px 10px;
  border-radius: 15px;
  border: none;
  font-size: 16px;
}

:root{
    --cover-height:360px;
    --profile-size:180px
}
/* ================================================= burger ========================================= */
.burger {
  display: grid;
  place-items: center;
  width: 40px;
  height: 40px;
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
  z-index: 3;
}

.burger-icon {
  position: relative;
  display: block;
  width: 28px;
  height: 2px;
  background: #f9f9f9;
  border-radius: 2px;
  transition: 0.3s ease-in-out;
}

.burger-icon::before,
.burger-icon::after {
  content: "";
  position: absolute;
  left: 0;
  width: 28px;
  height: 2px;
  background: #f9f9f9;
  border-radius: 2px;
  transition: 0.3s ease-in-out;
}

.burger-icon::before {
  top: -8px;
}

.burger-icon::after {
  top: 8px;
}

body.open .burger-icon {
  transform: rotate(-45deg);
}

body.open .burger-icon::before {
  transform: rotate(90deg) translate(10px, -1px);
}

body.open .burger-icon::after {
  transform: rotate(90deg) translate(-9px, 1px);
}
/* ================================================= menu ========================================= */
.menu {
  position: fixed;
  z-index: 2;
  top: 100px;
  left: 0;
  display: grid;
  place-items: center;
  width: 45%;
  max-width: 400px;
  height: 80%;
  background: rgb(0 0 0 / 40%);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  translate: -100% 0;
  transition: translate 0.425s cubic-bezier(0.175, 0.885, 0.32, 1);
}

.menu nav {
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.menu a {
  position: relative;
  color: #f9f9f9;
  font-size: 30px;
  padding: 18px 0;
  height: 80px;
  width: 100%;
  transition: 0.4s;
}

.menu a::before,
.menu a::after {
  content: "";
  position: absolute;
  bottom: 10px;
  width: 100%;
  height: 2px;
  transition: 0.4s;
}

.menu a::before {
  opacity: 0;
  background: rgb(255 255 255 / 20%);
}

.menu a::after {
  transform: scaleX(0);
  transform-origin: 0% 50%;
  background: #f7f7f7;
}

.menu a:hover::before {
  opacity: 1;
}

.menu a:hover::after {
  transform: scaleX(1);
}

@keyframes menu-in {
  0% {
    clip-path: ellipse(0% 0% at 0% 50%);
  }
  100% {
    clip-path: ellipse(120% 120% at 0% 50%);
  }
}

body.open .menu {
  opacity: 1;
  visibility: visible;
  translate: 0;
  animation: menu-in 0.425s;
}

body.open .menu nav {
  opacity: 1;
}
.mess-wrap {
  margin: 10px 0px 0px 30px;
  display: flex;
  width: 95%;
  backdrop-filter: blur(10px) saturate(150%);
  border-radius:15px;
  overflow:hidden;
  box-shadow:0 6px 20px rgba(3,18,26,.08)
}
.mess-wrap-1 {
  align-items: center;
  justify-content: center;
  width: 5%;
  min-height: 750px;
  padding: 10px 5px 0px 15px;
}
.mess-wrap-1 ul li {
  list-style: none;
}
.mess-wrap-1 ul li a {
  text-decoration: none;
  padding-top: 20px;
  font-size: 25px;
  color: white;
  transition: all 0.3s ease;
}
.mess-wrap-1 ul li a:hover  {
  transform: translateY(-8px) scale(1.15);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  background: linear-gradient(45deg, #c9a0ff, #dab6ff);
}
.mess-wrap-1 ul li a i {
  padding-bottom: 25px;
}
.mess-wrap-2 {
  background: rgba(0, 0, 0, 0.3);
  width: 65%;
  
}
.mess-wrap-3 {
  width: 25%;
  
}
