* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Inter,system-ui,Arial,sans-serif
}

body {
  padding-top: 80px;
  min-height: 100vh;
  color: #f7f7f7;
  background-image: url(./image/image\ \(3\).mp4);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 20% 0;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100vw;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.background video {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  filter: brightness(0.7);
  pointer-events: none;
}


/* ================================================= nav-bar ========================================= */
.nav-bar {
  top: 10px;
  min-height: 70px;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  backdrop-filter: blur(5px);
  width: 95%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
}

.nav-bar a {
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease;
}

.nav-bar a:hover {
  background: linear-gradient(45deg, #c9a0ff, #dab6ff);
  -webkit-background-clip: text; 
  color: transparent;
  transform: translateY(-8px) scale(1.06);
  text-shadow: 
    0 4px 10px rgba(0,0,0,0.3),
    0 0 20px rgba(0,0,0,0.15);
}

.nav-bar h2 {
  gap: 10px;
  font-size: 30px;
}

.nav-bar-left,
.nav-bar-right {
  display: flex;
  align-items: center;
}

.nav-bar-left ul,
.nav-bar-right ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-bar-left ul li {
  margin-left: 15px;
}

.nav-bar-right ul li {
  padding-left: 20px;
}

.search-form {
  padding: 5px 10px;
  border-radius: 15px;
  border: none;
  font-size: 16px;
}

:root{
    --cover-height:360px;
    --profile-size:180px
}
/* ================================================= burger ========================================= */
.burger {
    position: relative;
    width: 40px;
    height: 40px;
    margin-left: 70px;
    display: grid;
    place-items: center;
    cursor: pointer;
    z-index: 9999; 
}

.burger-icon {
    position: relative;
    width: 30px;
    height: 2px;
    background: #fff;
    border-radius: 3px;
}

.burger-icon::before,
.burger-icon::after {
    content: "";
    position: absolute;
    left: 0;
    width: 28px;
    height: 3px;
    background: #fff;
    border-radius: 3px;
}

.burger-icon::before {
    top: -8px;
}

.burger-icon::after {
    top: 8px;
}

.dropdownNav-burger {
    display: none;
    position: absolute;
    top: 45px;
    right: 0;
    background: #222;
    padding: 15px 20px;
    border-radius: 10px;
    z-index: 9999;
}

.burger:hover .dropdownNav-burger {
    display: block;
}

.dropdownNav-burger ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.dropdownNav-burger ul li {
    margin-bottom: 10px;
}

.dropdownNav-burger ul li a {
    color: #fff;
    text-decoration: none;
}

/* ================================================= profile-page ========================================= */
.profile-page{
    max-width:1250px;
    margin:0px auto;
    backdrop-filter: blur(10px) saturate(150%);
    border-radius:8px;
    overflow:hidden;
    box-shadow:0 6px 20px rgba(3,18,26,.08)
  }

.cover-wrap{
    position:relative;
    height:var(--cover-height);
    background:#ddd;
    overflow:hidden
}

.cover{
    position:absolute;
    inset:0;
    background-size:cover;
    background-position:center;
    transition: .12s linear;
    cursor:grab
}

.cover.dragging{
    cursor:grabbing
}
.cover-buttons{
    position:absolute;
    right:12px;
    top:12px;
    display:flex;
    gap:8px
}
.btn{
    background:rgba(0,0,0,.6);
    color:#fff;
    padding:8px 12px;
    border-radius:6px;
    font-size:14px;
    cursor:pointer;
    border:0
}
.btn.secondary{
    background:rgba(255,255,255,.9);
    color:#050505
}
/* =========================== meta =========================== */
.meta{ 
    padding:0 20px 24px;
    display:flex;
    align-items:flex-end;
    gap:16px
}
.avatar-wrap{
    position:relative;
    margin-top:-calc(var(--profile-size)/2);
    width:var(--profile-size);
    height:var(--profile-size)
}
.avatar-frame{
    width:100%;
    height:100%;
    border-radius:50%;
    background:#fff;
    padding:6px;
    box-shadow:0 6px 20px rgba(3,18,26,.12)
}
.avatar{
    width:100%;
    height:100%;
    border-radius:50%;
    overflow:hidden;
    position:relative;
    background:#bbb;
    display:flex;
    align-items:center;
    justify-content:center
}
.avatar img{
    width:100%;
    height:100%;
    object-fit:cover;
    display:block;
    user-select:none
}
.edit-avatar{
    position:absolute;
    right:30px;
    bottom:10px;
    background:rgba(0,0,0,.6);
    color:#fff;
    padding:6px;
    border-radius:50%;
    font-size:15px;
    cursor:pointer
    
}
/* =========================== profile-info =========================== */
.profile-info{
    flex:1;
    padding-left:8px;
    padding-bottom: 70px;
    color: #050505;
}
.name{
    color: white;
    font-size:35px;
    font-weight:600
    
}
.small{
    color: white;
    font-size:14px
}
input[type=file]{display:none}
/* =========================== profile-tabs =========================== */
.profile-tabs {
    justify-content: space-between;
    display: flex;
    padding:10px;
    border-top:1px solid #e9e9eb;
    color: #050505;
    
}
.profile-tabs-list {
  display: flex;
}
.profile-tabs-list li {
  list-style: none;
  
}
.profile-tabs-list li a {
  text-decoration: none;
  padding: 10px 20px;
  color: white;
  transition: all 0.1s ease;
  font-weight: bold;
}
.profile-tabs-list li a:hover {
  width: 50px;
  height: 50px;
  background-color: slateblue;
  color: white;
  border-radius: 20px;
}
.profile-tabs-Ellipsis button {
  width: 50px;
  height: 35px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 20px;
  border: 1px solid #fff;
  cursor: pointer;
}
.profile-tabs-Ellipsis button:hover {
  width: 50px;
  height: 35px;
  background-color: slateblue;
  color: white;
  border-radius: 10px;
}
/* ===================================================== content =========================================== */
.content {
  display: flex;
  backdrop-filter: blur(10px) saturate(150%);
  padding: 10px 15px;
  border-radius: 20px;
}
.about {
  width: 430px;
  height: 1200px;  
  
}
.about-item {
  
}
.about-item h2 {
  color: white;
  margin: 5px;
}
.about-item p {
  color: white;
  text-align: center;
  padding-bottom: 20px;
}

.chinhsua {
  width: 85%;      
  display: flex; 
  justify-content: center;
  border-radius: 30px;
}

.chinhsua-btn {
  display: block;
  width: 85%;
  padding: 10px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 35px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
}

.chinhsua-btn:hover {
  background: #606770;
  color: white;
}

.chinhsua a {
  text-decoration: none;
}
/* =========================== Presonal-information =========================== */
.Presonal-information {
  margin-top: 15px;
  gap: 20px;
}

.Presonal-information ul li {
  list-style: none;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  
}

.Presonal-information ul li a {
  text-decoration: none;
  color: white;
  padding-left: 10px;
}
/* =========================== Presonal-information-Card =========================== */
.Presonal-information-Card {
  width: 430px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.Presonal-information-Card ul {
  display: flex;
}

.Presonal-information-Card ul li {
  list-style: none;
}

.Presonal-information-Card ul li a img {
  align-items: center;
  width: 125px;          
  height: 250px;         
  object-fit: cover;    
  border-radius: 5px;    
  display: block;
  padding-left: 5px;
  border-radius: 15px;
  transition: all 0.3s ease;
}
.Presonal-information-Card ul li a img:hover {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2),
              4px 4px 8px rgba(0, 0, 0, 0.4);
  transform: scale(1.15);
}
.img {
  width: 430px;
  height: 529px;
}
.anh-xemtatcaanh {
  margin: 10px;
  width: 430px;
  justify-content: space-between;
  display: flex;
}
.anh-xemtatcaanh a:first-child {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: white;
  padding-left: 10px;
}
.anh-xemtatcaanh a:last-child {
  text-decoration: none;
  font-size: 16px;
  color: cornflowerblue;
  padding-right: 50px;
}
.img-list {
  width: 410px;
  height: 390px;
  display: flex;
  
}
.img-list a {
  padding: 5px;
}
.img-list li {
  list-style: none;
}
.img-list-1,
.img-list-2,
.img-list-3 {
  padding: 0 1px;
}

.img-list-1 img,
.img-list-2 img,
.img-list-3 img {
  width: 125px;
  height: 125px;
  transition: all 0.3s ease;
}
.img-list-1 img:hover{
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
  transform: scale(1.15);
}
.img-list-2 img:hover{
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
  transform: scale(1.15);
}
.img-list-3 img:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
  transform: scale(1.15);
}


/* =========================== user-post =========================== */
.wrap-conten {
  width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column; 
  gap: 20px; 
}

/* =========================== create =========================== */
.create {
  padding: 10px 10px ;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 120px;
  border-radius: 10px;
}
.create::before {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  z-index: 0;
}
.create-Post-conten {
  padding-left: 20px;
  display: flex;
  width: 780px;
  height: 50px;
  justify-content: start;
  border-radius: 20px;
  gap: 15px;
}
.create-Post-conten img {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: 10px;
  z-index: 1;
}
.bandangnghigi {
  width: 85%;
  height: 40px;
  margin-top: 10px;
  background: rgba(255, 255, 255, 0.3);
  border: none;
  outline: none;
  border-radius: 35px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  padding-left: 20px;
}
.bandangnghigi:hover {
  background: #fff;
  color: black;
}
.create-Post-image {
  height: 55px;
  line-height: 55px;
}
.create-Post-image ul {
  display: flex;
  justify-content: space-around;
}
.create-Post-image ul li {
  list-style: none;
}
.create-Post-image ul li a button{
  padding: 10px;
  font-size: 16px;
  border: none;
  background:none;
  color: white;
  border-radius: 20px;
  transition: all 0.3s ease;
  
}
.create-Post-image ul li a button:hover {
  background: rgba(255, 255, 255, 0.3);
  transform: scale(1.15);
}
/* ================================================= post ========================================= */
.post {
  padding: 10px 10px ;
  background: rgba(0, 0, 0, 0.3);
  width: 800px;
  border-radius: 20px;
  margin-top: 5px;
  height: 520px;
}
.post-conten-1{
  
}
.post1 {
  display: flex;
}
.post1 a {
  text-decoration: none;
  color: white;
  text-align: center;
  padding-bottom: 30px;
  font-size: 18px;
  font-weight: 600;
  padding: 10px;
}
.post1-username p {
  padding-left: 10px;
}
.post1 p {
  color: #bbb;
  font-size: 15px;
}
.post1-img img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  z-index: 1;
}
.post2 {
  color: white;
  padding-bottom: 30px;
  font-size: 18px;
  font-weight: 600;
  padding: 10px;
}
.post2 img {
  width: 100%;
  height: 300px;
  border-bottom: 1px solid #fff;
}
.icon {
  display: flex;
}
.icon ul {
  display: flex;
}
.icon p {
  height: 30px;
  padding-left: 4px;
  padding-top: 2px;
  color: #bbb;
  font-size: 15px;
  transition: all 0.3s ease;
}
.icon ul li {
  list-style: none;
}
.icon ul li a {
  text-decoration: none;
  padding-right: 5px;
}
.icon button {
  background: none;
  border: none;
  font-size: 16px;
  transition: all 0.3s ease;
}
.icon button:hover {
  font-size: 20px;
  transform: scale(1.15);
}
.icon p:hover {
  cursor: pointer;
  font-size: 20px;
}

.like-comment-share {
  height: 55px;
  line-height: 55px;
}
.like-comment-share ul {
  display: flex;
  justify-content: space-around;
}
.like-comment-share ul li {
  list-style: none;
}
.like-comment-share ul li a button{
  padding: 10px;
  font-size: 16px;
  border: none;
  background:none;
  color: white;
  border-radius: 20px;
  transition: all 0.3s ease;
}
.like-comment-share ul li a button:hover {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 2px 2px 4px rgba(30, 37, 80, 0.2),
              4px 4px 8px rgba(30, 37, 80, 0.4);
  transform: scale(1.15);
}

.cmt {
  padding-left: 20px;
  display: flex;
  width: 780px;
  height: 50px;
  justify-content: start;
  border-radius: 20px;
  gap: 15px;
}
.cmt img {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-top: 10px;
  z-index: 1;
}

@media(max-width:620px){
    :root{--cover-height:180px;
        --profile-size:96px
    }
    .profile-page{margin:12px}}


